#Lab1/*
#Lab1/vaivers.xdc/*
#!Lab1/vaivers.xdc
#Lab1/drc_waivers.xdc/*
#!Lab1/drc_waivers.xdc
#Lab2/*
#!Lab2/project_2
#
#Lab3/*
#!Lab3
#Lab4/
#Lab1/
#Lab2/
#Lab3/
#Lab4/


Lab1/*
Lab1/waivers.xdc/*
!Lab1/waivers.xdc
!Lab1/drc_waivers.xdc
Lab2/*
#Lab2/project_2/*
!Lab2/project_2

!Lab3
Lab4/*
!Lab4
Lab4/Lab4/*
!Lab4/Lab4
Lab4/Lab4/Lab4/*
!Lab4/Lab4/Lab4.xpr
!Lab4/Lab4/Lab4.srcs

#Lab2/*
#!Lab2
#Lab2/project_2
#Lab3/*
#Lab4/*